@import "reset.css";

:root {

	--background: linear-gradient(225deg, #e6e1e1, #ffffff);;

  --grey: hsl(72, 0%, 90%);
  --yellow: hsl(72, 100%, 90%);
  --purple: hsl(282, 90%, 90%);
  --light-blue: hsl(240, 100%, 90%);
  --yellow: hsl(47, 100%, 90%);


}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: cursive;
    /*font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;*/
	background: linear-gradient(225deg, #e6e1e1, #ffffff);
	cursor: none;
	border: 1px dashed green;
}

.container {
	max-width: 1000px;
	width: 92%;
	margin-inline: auto;
/*	border: 1px solid black*/
}

.cursor {
	z-index: 999;
	position: absolute;
	background: #2696E8;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	pointer-events: none;
	box-shadow: 0 0 20px #2696E8, 0 0 60px #2696E8, 0 0 100px #2696E8;
	transform: translate(-50%,-50%);
	animation: colors 5s infinite;
	display: none;

}

@keyframes colors {
	0%{
		filter: hue-rotate(0deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}

.cursor::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #2696E8; 
	opacity: 0.2;
	transform: translate(-30%, -30%);
}

/*.........Nav style........*/

li{
	list-style: none;
}

ul {
	padding-left:0;
	margin-top: 0;
}

a {
	color: grey;
	text-decoration: none;
}

.navbar {
/*	min-height: 70px;*/
/*	display: flex;
	justify-content: space-between;
	align-items: center;*/
	padding: 0 24px;

	text-align: center;
}

header {
	position: relative;
	/*position: fixed;*/
}

.nav-branding {
	font-size: 2rem;
/*	z-index: 100;*/
}

.nav__link {
	transition: 0.7s ease;
}

.nav__link:hover {
	color: var(--light-blue);
}

.sidebar {
	/*border: 1px solid green;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 100vh;
	background:var(--background);
	overflow: hidden;
	transition: 0.5s;

	border-radius: 5%;
	box-shadow:  -5px 5px 15px #ebe6e6,
             5px -5px 15px #ffffff;
  z-index: 99;
}

.sidebar:hover {
	width: 300px;
}

.sidebar ul {
	/*border: 1px dashed blue;*/
	position: relative;
	height: 100vh;


}

.sidebar ul li:not(:first-child) {
	cursor: pointer;
}

/*.sidebar ul li:hover{
	background: #fff;
}
*/
.sidebar ul li a{
	position: relative;
	display: flex;
	white-space: nowrap;
}
.sidebar ul li a .icon ,
.nav__branding
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 60px;
	height: 60px;
	font-size: 1.5em;
	color: ;

	border-radius: 50%;
	background: linear-gradient(225deg, #e6e1e1, #ffffff);
	box-shadow:  -5px 5px 15px #ebe6e6,
             5px -5px 15px #ffffff;


}

/*#fffafa  #f1eeff*/


.logo__text {
	font-weight: 500;
}

.sidebar ul li a .text{
	position: relative;
	height: 60px;
	display: flex;
	align-items: center;
	min-width: 60px;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	margin-left: 1rem;
}

.sidebar ul li.logo {
	margin-bottom: 50px;
}


.socials {
	position: absolute;
	bottom: 2rem;
	width: 100%;
}


/*.........Nav style end........*/


/*.........  ........*/

.main {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 2em;

}

section {
	/*border: 3px solid yellow;*/
}

.hero {
	width: 100%;
	padding: 2rem 0.5rem;
	margin-left: 70px;
}


/*.hero__content {
	margin-left: 70px;
}*/

.hero__title {
	font-size: 1.85rem;
	font-family: cursive;
}

.hero h1 {
	padding: 1rem;
	text-align: center;
}

.hero p {
	padding: 2.5rem;
	margin-top: 1rem;
}

.hero h1,
.hero p {
	border-radius: 100px;
	background: linear-gradient(225deg, #e6e1e1, #ffffff);
	box-shadow:  -5px 5px 15px #ebe6e6,
             5px -5px 15px #ffffff;
}

.hero__skills {
	text-align: center;
}

.hero p img {
	margin: 0.2rem;
	width: 30px;
}

/*.ts {
	border-radius: 30%;
}*/


/*......projects section...*/


.projects {
	width: 100%;
	padding: 2rem 0.5rem;
	display flex;
	justify-content: center;
	align-items: center;
 
}

.project {

/*	overflow: hidden;*/
	padding: 2rem 0.5rem;
	
	border-radius: 100px;
	background: linear-gradient(225deg, #e6e1e1, #ffffff);
	box-shadow:  -5px 5px 15px #ebe6e6,
             5px -5px 15px #ffffff;
	/*padding: 2rem 0.5rem;*/
}

section .project{
	/*background-color: lightyellow;*/
	/*border-radius: 100px;*/

}

.swiper {

	/*border:3px dashed lavender;*/
  max-width: 100%;
  height: 350px;
  /*z-index: 0;*/
}

.swiper-wrapper,
.swiper-scrollbar {
/*	z-index: 0;*/
}

.swiper-button-prev, 
.swiper-button-next {
	color: #fff;
	cursor: pointer;
	transition: 0.7s ease;
	/*z-index: 0;*/
}

.swiper-button-prev:hover, 
.swiper-button-next:hover {
	color: var(--light-blue);
}



.swiper-button-prev {
  left: 50%;
  top: 1%; 
  transform: rotate(90deg);
  transform-origin: left center;
}

.swiper-button-next {
  left: 50%; 
  top: 90%; 
  transform: rotate(90deg);
  transform-origin: left center;
}


.project__img{
	/*height: 180px;
	background-color: #fdcddc;*/
	margin-bottom: 1rem;
}

.project__img img {
	border-radius: 100px;
	object-fit: cover;
	width: 100%;
	max-height: 180px;
}

.project__description {
	padding: 1rem;
	/*border: 1px dashed red;*/
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	grid-gap: 0.2rem;
	border-radius: 100px;
	background: linear-gradient(225deg, #e6e1e1, #ffffff);
	box-shadow:  -5px 5px 15px #ebe6e6,
             5px -5px 15px #ffffff;
}

.project__description h3{ 
	font-weight: 600;
}

.project__buttons {
	margin-top: 0.4rem;
	display: flex;
	justify-content: space-around;
}


.project__buttons button {
	width: 40%;
	margin: 0.1rem;
	/*background: #fff;*/
	padding: 0.5rem 0.2rem;
	transition: 0.7s ease;
	border-radius: 100px;
	background: linear-gradient(225deg, #e6e1e1, #ffffff);
	box-shadow:  -5px 5px 15px #ebe6e6,
             5px -5px 15px #ffffff;
  cursor: pointer;
}

.project__buttons button:hover {
	color: var(--light-blue);
}




/*	position: relative;
	z-index: -1;*/




/*......... media queries  ........*/
@media(max-width:768px) {

	.navbar {
		position: fixed;
	}

	.main {
	display: block;
	
	}

	.sidebar,
	.sidebar ul {
		height: 90vh;
	}


	.hero {
		width: 80%;
	}

	.hero__title {
		font-size: 1.5rem;
	}

	.project {
		margin-top: 17rem;
	/*	margin-left: 70px;*/
	}
}


@media(max-width:450px) {

	.sidebar,
	.sidebar ul {
		height: 60vh;
	}

	.project {
		margin-top: 2rem;
	}
}